
{{> headers title="Estás en soporte"}}
    <h1 class="p-5">{{titulo}}</h1>
    <div class="jumbotron jumbotron-fluid" style="backgroundcolor:#8C9EFF">
        <div class="container">
            {{#if estado}}
                <p>{{soporte}}</p>
            {{else}}
                <p>Lo sentimos no podemos ayudarte</p>
            {{/if}}
        </div>
    </div>
{{> footer year= 2023}}